html, body {
  margin: 0;
}

body {
  font-family: Inter;
}

.container {
  margin: 45px 40px;
}

header {
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
  margin: 0;
}

header > h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

header nav {
  display: flex;
  gap: 15px;
}

header nav a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

header nav a:hover {
  background-color: #555;
  border-radius: 5px;
}


article.journal-entry {
  display: flex;
  margin-bottom: 36px;
}

article.journal-entry .marker {
  width: 7px;
  margin-right: 4px;
}

article.journal-entry .main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

article.journal-entry .main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-container span.country {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-right: 12px;
}

.info-container a {
  color: #2B283A;
  font-size: 0.7rem;
}

.info-container a:visited {
  color: #918E9B;
}

.info-container h2.entry-title {
  margin-top: 7px;
  margin-bottom: 17px;
}

.info-container p.trip-dates {
  font-weight: bold;
}

.info-container p.entry-text {
  line-height: 1.5;
  font-size: 0.8rem;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin: 0
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #555;
  border-radius: 5px;
}

.current {
  border-bottom: 4px solid white;
}

.searchGameBar {
  float: right;
}

.searchGameBar input {
  padding: 6px;
  margin-top: 8px;
  margin-right: 0px;
  font-size: 17px;
}

.searchGameBar button {
  padding: 6px;
  margin-top: 8px;
  margin-right: 0px;
  font-size: 17px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.game-container {
  margin: 5px;
}

.game-main {
  background-color: #EEEEEE;
  border-radius: 2.5%;
  display: flex;
  height: auto;
  overflow: hidden;
  align-items: center;
}

.game-main .game-image {
  width: 20%;
  border-radius: 5%;
  margin: 5px;
  border: 1px solid black;
}

.game-main .video-responsive {
  width: 75%;
  float: right;
  border-radius: 2.5%;
  margin: 5px;
}

.game-info {
  margin: 5px;
  padding: 5px;
}

.game-story {
  margin: 5px;
  padding: 5px;
}